body {
  margin: 0;
  background: hsl(0, 0%, 7%);
}
#viewer {
  height: 90vh;
}
object {
  width: 100%;
  height: 100%;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: 45;
}

#nav a {
  display: flex;
  align-items: center;

  flex-shrink: 1;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 2;
  padding: 10px 20px;
  text-transform: uppercase !important;
  border: 1px solid #fff;
}
